{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<h1 id="titulos"><img src="{% static 'app/dist/img/quienessomos.png' %}" alt="logo"></h1>
<div class="large-12 columns contenidos">
    <p><strong>&nbsp;</strong></p>
<h2><strong>Tienda de Animalitos</strong></h2>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Desde nuestra Pagina web nos dedicamos a la <strong><span style="text-decoration: underline;">venta de productos de alta visibilidad así como los articulos de animales o ropaje para ellos</span></strong>.&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;En Tienda de Animalitos disponemos de nuestro propio Sistema de Gestión de la Calidad certificado según la norma ISO 9001. Este Sistema de Gestión de la Calidad se ve complementado con un Proceso de Mejora Continua, aplicado a todas las esferas de nuestra actividad.</p>
<h2>&nbsp;<strong>VALORES</strong></h2>
<p>Rapidez y fiabilidad en la preparación y entrega de los pedidos que recibimos.</p>
<p class="ListParagraph">Atención personalizada a todos nuestros clientes. </p>
<p class="ListParagraph">Máximo grado de compromiso para satisfacer las peticiones de nuestros clientes. Pretendemos que todos nuestros empleados se sientan realizados al haber aportado lo mejor de cada uno.</p>
<p class="ListParagraph">Flexibilidad ante los cambios requeridos por nuestros clientes.</p>
<p class="ListParagraph">Respeto, tolerancia y confianza.</p>
<p class="ListParagraph">Colaboración entre todos para llegar a la consecución de los objetivos.</p>
<p class="ListParagraph">Libertad y creatividad que disponen nuestros empleados para solucionar de la forma más eficiente posible las necesidades de nuestros clientes.</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p align="center">Aprobada por:</p>
<p align="center"><strong>Dirección (FBD, CSO)</strong></p>
<p align="center"><strong> 7 de mayo &nbsp; del 2018
    
</div>

{% endblock %}